/* 
    Document   : admin
    Created on : 19/09/2012, 10:29:53 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-color: white;
}

.zx-error-message, .zx-success-message{
    color: red;
}
.zx-admin-active-menu {
    color: white;
    background-color: black;
}
.zx-admin-current-page {
    color: white;
    background-color: black;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    text-decoration: none;
}
nav ul li a{
    color: black;
    background-color: white;
}