body.zx-front-body{

}
div.zx-front-clear-both{
    clear: both;
}
div.zx-front-10px-margin{
    margin: 10px;
}
.zx-front-current-page {
    color: white;
    background-color: black;
}
mark{
    color: black;
    font-weight: 700;
    font-size: 50px;
    background-color:white; 
}

div.zx-front-header{
    background-color: white;
    border-bottom: 1px solid #F2F2F3;
}
div.zx-front-header1{
    width: 30%;
    float: left;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-header2{
    width: 65%;
    float: right;
    background-color: white;
    border: 1px solid black;
}

.zx-front-logo{
    width: 500px;
    height: 50px;
    float: left;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-shadow: green;
    letter-spacing: 0;
}
.zx-front-logo a{
    color: black;
    text-decoration: none;
}
a.zx-front-read-more {
    background: none repeat scroll 0 0 #F7941E;
    border-radius: 10px 10px 10px 10px;
    color: white;
    float: right;
    font-size: 13px;
    padding: 1px 2px 1px 6px;
    text-decoration: none;
}
nav.zx-front-top-menu{
    width: 900px;
    float: right;

}
nav.zx-front-top-menu li.zx-front-top-active-menu {
    color: white;
    background-color: #F90;
}
nav.zx-front-top-menu li{
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 7px;
}
nav.zx-front-top-menu li a{
    color: white;
    display: block;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    text-decoration: none;   
    background: none repeat scroll 0 0 #F7941E;
        border: 6px solid #F2F2F3;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}
.zx-front-main{
    margin-top:20px;
}
div.zx-front-left{
    width: 70%;
    float: left;
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-left1{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-left2{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right{
    width: 25%;
    float: left;
    background-color: white;
    border: 2px solid #F2F2F3;
}

div.zx-front-right1{
    background-color: white;
    border: 2px solid #F2F2F3;
    padding: 10px;
}
div.zx-front-right2{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right3{
    padding-top: 10px;
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right4{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right5{
    background-color: white;
    border: 2px solid #F2F2F3;
}
.zx-front-tag-title{
    color: #766666;
    font-size: 16px;
    font-weight: 800;
}
a.zx-front-tag1{
    text-decoration: none;
    color:#F7941E;
    font-weight:700;
    font-size:15px;
}
a.zx-front-tag2{
    text-decoration: none;
    color:#766666;
    font-weight:700;
    font-size: 15px;
}
.zx-front-article-title{
    color: #766666;
    font-size: 16px;
    font-weight: 900;
}
.zx-front-hottest-article{
        text-decoration: none;
    color:#332828;
    font-weight:700;
    font-size: 15px;
}
.zx-front-latest-article{
        text-decoration: none;
    color:#332828;
    font-weight:700;
    font-size: 15px;
}
.zx-front-related-article{
        text-decoration: none;
    color:#332828;
    font-weight:700;
    font-size: 15px;
}
div.zx-front-footer{
    border-top: 8px solid #F2F2F3;
    padding: 15px;
    margin-top: 30px;    
    margin-bottom: 50px;
}
nav.zx-front-bottom-menu{
    width: 900px;
    font-size: 12px;
    margin:auto;
}

nav.zx-front-bottom-menu li{
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 7px;
}
nav.zx-front-bottom-menu li a{
    color: white;
    display: block;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    text-decoration: none;   
    background: none repeat scroll 0 0 #F7941E;
    border-radius: 5px;
    cursor: pointer;    
}
.zx-front-left2 nav ul li{
    margin: 10px;
}
.zx-front-right3 li{
    margin-top: 5px;
}
.zx-front-article-title{
    
}
.zx-front-article-abstract{
    margin-top:5px;
}
.zx-front-article-content{
    
}

.zx-front-tag{
    color: red;    
}

.zx-front-breadcrumb{
    margin: 10px;
}
.zx-front-breadcrumb-item{
    color: #F7941E;
    text-decoration: none;
    font-size:13px;
    font-weight: 800;
}