body.zx-front-body{
    background-color: white;
    width: 1200px;
    hzx-frontght: auto;
}
div.zx-front-clear-both{
    clear: both;
}
div.zx-front-10px-margin{
    margin: 10px;
}
.zx-front-current-page {
    color: white;
    background-color: black;
}
mark{
    color: black;
    font-weight: 700;
    font-size: 50px;
    background-color:white; 
}

div.zx-front-header{
    hzx-frontght:100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-header1{
    width: 30%;
    float: left;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-header2{
    width: 65%;
    float: right;
    background-color: white;
    border: 1px solid black;
}

.zx-front-logo{
    width: 500px;
    height: 50px;
    float: left;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-shadow: green;
    letter-spacing: 0;
}
.zx-front-logo a{
    color: black;
    text-decoration: none;
}
nav.zx-front-top-menu{
    width: 800px;
    float: right;

}
nav.zx-front-top-menu li.zx-front-top-active-menu {
    color: white;
    background-color: #F90;
}
nav.zx-front-top-menu li{
    list-style-type: none;
    background-color: #777;
    display: block;
    float: left;
    margin-right: 7px;
}
nav.zx-front-top-menu li a{
    color: white;
    display: block;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    text-decoration: none;   
}
.zx-front-main{
}
div.zx-front-left{
    width: 70%;
    float: left;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-left1{
    hzx-frontght: 100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-left2{
    hzx-frontght: 100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-right{
    width: 25%;
    float: left;
    background-color: white;
    border: 1px solid black;
}

div.zx-front-right1{
    hzx-frontght: 100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-right2{
    hzx-frontght: 100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-right3{
    hzx-frontght: 100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-right4{
    hzx-frontght: 100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-right5{
    hzx-frontght: 100px;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-footer{
    color: #444;
    background: #777;
    border-top: 7px solid black;
    padding: 15px;
    margin-top: 30px;        
}
nav.zx-front-bottom-menu{
    width: 800px;
    float: right;
    font-size: 12px;
}

nav.zx-front-bottom-menu li{
    list-style-type: none;
    background-color: #777;
    display: block;
    float: left;
    margin-right: 7px;
}
nav.zx-front-bottom-menu li a{
    color: white;
    display: block;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    text-decoration: none;   
}
.zx-front-article-title{
    
}
.zx-front-article-content{
    
}

.zx-front-tag{
    color: red;    
}