/* 
    Document   : site
    Created on : 19/09/2012, 10:29:53 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

body{
background-color: white;
width: 1024px;
height: auto;
}
.zx-clear-both{
	clear: both;
}
.zx-error-message, .zx-success-message{
    color: red;
}