/* 
    Document   : site
    Created on : 19/09/2012, 10:29:53 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-color: white;
}

.error_message, .success_message{
    color: red;
}